.container {
    width: 125px;
}
button {
    position: auto;
    width: 100%;
    font-family: 'Allan';
    font-size: 22px;
    color: white;
}
p {
    position: auto;
    font-size: 80px;

    color: black;
}
label {
    position: auto;
    margin-left: 10px;
    color: black;
}
.reroll {
    position: auto;

    margin-left: -10px;
}